<aside class="sidebar" (click)="handleClose()">
  <div class="sidebar-header">
    <div class="brand">
      <lucide-icon name="music"></lucide-icon>
      <span class="brand-name">Etecfy</span>
    </div>
    @if (onClose) {
    <button class="icon-btn close-btn">
      <lucide-icon name="x"></lucide-icon>
    </button>
    }
  </div>

  <nav class="nav">
    <div class="nav-section">
      <a routerLink="/home" class="nav-item">
        <lucide-icon name="house"></lucide-icon>
        Início
      </a>
      @if (currentUser()) {
      <a routerLink="/user" class="nav-item">
        <lucide-icon name="user"></lucide-icon>
        Perfil
      </a>
      <a routerLink="/song/create" class="nav-item">
        <lucide-icon name="upload"></lucide-icon>
        Adicionar musica
      </a>
      } @else {
      <a routerLink="/user/login" class="nav-item">
        <lucide-icon name="log-in"></lucide-icon>
        Entrar
      </a>
      <a routerLink="/user/create" class="nav-item">
        <lucide-icon name="user-plus"></lucide-icon>
        Criar conta
      </a>
      }
    </div>
  </nav>
  <div class="sidebar-footer">
    <button class="btn-logout" (click)="logOut()">
      <lucide-icon name="log-out"></lucide-icon>
      Sair
    </button>
  </div>
</aside>
