<audio #audio controls style="display: none"></audio>

@if (currentSong) {
  <div class="player">
    <div class="player-header">
      <h4>Tocando agora</h4>
      <button class="close-btn" (click)="onClose()" title="Parar e fechar player">
        <lucide-icon name="x"></lucide-icon>
      </button>
    </div>

    <div class="left">
      <img [src]="currentSong.thumbnail" [alt]="currentSong.title + ' album cover'" />
      <div class="text">
        <h4 class="title">{{ currentSong.title }}</h4>
        <p class="artist">{{ currentSong.artist }}</p>
      </div>
    </div>

    <div class="center">
      <div class="controls-row">
        <button [ngClass]="['icon-btn', shuffle() ? 'active' : 'default']" (click)="toggleShuffle()">
          <lucide-icon name="shuffle"></lucide-icon>
        </button>
        <button class="icon-btn" (click)="onPrev()" [disabled]="!canPrev">
          <lucide-icon name="skip-back"></lucide-icon>
        </button>
        <button class="play-btn lg" (click)="onPlayPause()">
          <lucide-icon [name]="isPlaying ? 'pause' : 'play'"></lucide-icon>
        </button>
        <button class="icon-btn" (click)="onNext()" [disabled]="!canNext">
          <lucide-icon name="skip-forward"></lucide-icon>
        </button>
        <button [ngClass]="['icon-btn', loop() ? 'active' : 'default']" (click)="toggleLoop()">
          <lucide-icon name="repeat"></lucide-icon>
        </button>
      </div>
      <div class="progress-row">
        <span class="time">{{ formatTime(currentTime()) }}</span>
        <input
          type="range"
          [min]="0"
          [max]="currentSong.duration"
          [value]="currentTime()"
          [style.--progress]="
            (currentSong.duration ? (currentTime() / currentSong.duration) * 100 : 0) + '%'
          "
          (input)="onSeek($event.target.valueAsNumber)"
        />
        <span class="time">{{ formatTime(currentSong.duration) }}</span>
      </div>
    </div>

    <div class="right">
      <lucide-icon name="volume-2"></lucide-icon>
      <input
        type="range"
        [value]="volume() * 100"
        max="100"
        step="1"
        [style.--progress]="(volume() * 100) + '%'"
        (input)="onVolumeChange($event.target.valueAsNumber / 100)"
      />
    </div>
  </div>
}
